.app{
    overflow: hidden;
}

.header{
    background-image: linear-gradient(0, #fe6403, #f53e2d);
    height: var(--header-height);
}

.header__navbar{
    display: flex;
    justify-content: space-between;
}

.header__navbar-list{
    list-style: none;
    margin: 4px 0 0 0;
    padding-left: 0;
}

.header__navbar-item{
    margin: 0 8px;
    position: relative;
    min-height: 26px;
    z-index: 3;
}

.header__navbar-item--qr:hover .header__qr{
    display: block;
}

.header__navbar-item--notify:hover .header__notify{
    display: block;
}

.header__navbar-item, 
.header__navbar-item-link{
    display: inline-block;
    font-size: 1.3rem;
    color: var(--white-color);
    text-decoration: none;
    font-weight: 300;
}

.header__navbar-item, 
.header__navbar-item-link,
.header__navbar-icon-link{
    display: inline-flex;
    align-items: center;
}

.header__navbar-item--bold{
    font-weight: 400;
}

.header__navbar-item--separate::after{
    content: "";
    display: block;
    position: absolute;
    border-left: 1px solid #FB9086;
    height: 16px;
    right: -9px;
    top: 50%;
    transform: translateY(-50%);
}

.header__navbar-item:hover,
.header__navbar-item-link:hover,
.header__navbar-icon:hover{
    cursor: pointer;
    color:rgba(255,255,255, 0.7);
}

.header__navbar-icon-link{
    color: var(--white-color);
    text-decoration: none;
}

.header__navbar-icon{
    font-size: 1.8rem;
    margin: 0 4px;
}

.header__navbar-icon-link--fb{
    margin-left: 3px;
}

.header__navbar-title-pointer{
    cursor: text;
    color: var(--white-color);
}

/* header qr */
.header__qr{
    width: 186px;
    background-color: var(--white-color);
    position: absolute;
    left: 0;
    top: 118%;
    padding: 8px;
    border-radius: 2px;
    display: none;
    animation: fadeIn ease-in 0.1s;
    z-index: 1;
}

.header__qr::before{
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 20px;
    left: 0;
    top: -14px;
}

.header__qr-img{
    width: 100%;
}

.header__qr-apps{
    display: flex;
    justify-content: space-between;
}

.header__qr-link:nth-child(1){
    margin-left: 10px;
}

.header__qr-link:nth-child(2){
    margin-right: 10px;
}

.header__qr-download-img{
    height: 16px;
}

/* header notify */
.header__notify{
    position: absolute;
    top: 118%;
    right: 0;
    width: 404px;
    z-index: 1;
    background-color: var(--white-color);
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 2px;
    cursor: default;
    transform-origin: calc(100% - 20px) top;
    animation: headerNotifyGrowth ease-out .2s;
    will-change: opacity, transform;
    display: none;
}

.header__notify::before{
    content: "";
    top: -29px;
    right: -1px;
    position: absolute;
    border-width: 19px 21px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
}

.header__notify::after{
    content: "";
    position: absolute;
    width: 70px;
    height: 30px;
    top: -20px;
    right: -1px;
}

@keyframes headerNotifyGrowth{
    from{
        opacity: 0;
        transform: scale(0);
    }
    to{
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes headerNotifyDecrease{
    from{
        opacity: 1;
        transform: scale(1);
    }
    to{
        opacity: 0;
        transform: scale(0);
    }
}

.headet__notify-header{
    height: 40px;
    background-color: var(--white-color);
}

.headet__notify-header h3{
    color: #afafaf;
    margin: 0 0 0 12px;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 40px;
}

.header__notify-list{
    padding-left: 0;
}

.header__notify-item--viewed{
    background-color: rgba(238, 75, 43, 0.07);
}

.header__notify-item--viewed:hover{
    background-color:#f8f8f8;
}

.header__notify-link{
    display: flex;
    padding: 5px 12px;
    text-decoration: none;
    width: 100%;
}
.header__notify-img{
    width: 48px;
    object-fit: contain;
}
.header__notify-info{
    padding-left: 12px;
}
.header__notify-name{
    display: block;
    font-size: 1.2rem;
    color: var(--black-color);
    font-weight: 300;
    margin-bottom: 2px;
    line-height: 1.4rem;
}
.header__notify-description{
    display: block;
    color: #a09d9d;
    font-size: 1rem;
    line-height: 1.4rem;
}

.header_notify-footer{
    display: flex;
    line-height: 30px;
}

.header_notify-footer-btn{
    text-decoration: none;
    color: var(--black-color);
    padding: 2px 16px;
    margin: auto;
    font-size: 1.2rem;
    font-weight: 400;
}


/* auth-form */
.auth-form{
    width: 500px;
    background-color: var(--white-color);
    border-radius: 3px;
    overflow: hidden;
}
.auth-form__container{
    padding: 0 30px;
}
.auth-form__header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
    padding: 0 12px;
}

.auth-form__header-heading{
    font-weight: 400;
    color: var(--text-color);
    font-size: 2.2rem;
}

.auth-form__switch-btn{
    color: var(--primary-color);
    font-weight: 500;
    font-size: 1.4rem;
    cursor: pointer;
}

.auth-form__input{
    width: 100%;
    height: 40px;
    margin-top: 16px;
    padding: 0 10px;
    font-size: 1.3rem;
    border: 1px solid var(--border-color);
    border-radius: 2px;
    outline: none;
}
.auth-form__input:focus{
    border-color: #777;
}

.auth-form__terms{
    margin-top: 20px;
    padding: 0 12px;
}

.auth-form__terms-text{
    text-align: center;
    font-size: 1.2rem;
    font-weight: 500;
}

.auth-form__terms-link{
    text-decoration: none;
    color: var(--primary-color);
}

.auth-form__aside{
    margin-top: 15px;
}

.auth-form__help{
    text-decoration: none;
    display: flex;
    justify-content: flex-end;
}

.auth-form__help-link{
    text-decoration: none;
    font-size: 1.4rem;
}

.auth-form__help-link--forget{
    color: var(--primary-color);
    font-weight: 450;
    margin: 0 10px;
}

.auth-form__help-separate{
    display: block;
    border-left: 1.5px solid var(--border-color);
    padding: 0;
}

.auth-form__help-link--help{
    color: #999;
    margin-left: 10px;
}


.auth-form__controls{
    margin-top: 80px;
    display: flex;
    justify-content: flex-end;
}

.auth-form__controls--back{
    margin-right: 8px;
}

.auth-form__social{
    background-color: #f5f5f5;
    padding: 16px 32px;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
 }
 
 .btn--icon{
     text-decoration: none;
 }

 .auth-form__social-icon{
     font-size: 2rem;
 }

 .auth-form__social-facebook{
     background-color: #3B5998;
     color: var(--white-color)
 }

 .auth-form__social-google{
    background-color: #4285F4;
    color: var(--white-color)
}

 .auth-form__social-text{
     margin: 0 35px;
 }

 /* header search */
 .header-search{
    height: var(--header-search);
    display: flex;
    align-items: center;
    margin: 0 8px;
 }

 .header__search-checkbox:checked ~ .header__search-bar{
    display: flex;
 }

 .header__mobile-search{
    padding: 8px 8px 8px 20px;
    display: none;
 }

 .header__mobile-search:hover{
     cursor: pointer;
 }

 .header__mobile-search-icon{
    font-size: 2.6rem;
    color: var(--white-color);
}

 .header__logo{
    width: 160px;
    margin-right: 40px;
 }
 
 .header__logo-img{
    width: 150px;
    color: var(--white-color);
 }

 .header__search-bar{
    flex: 1;
    height: 40px;
    background-color: var(--white-color);
    display: flex;
    align-items: center;
    border-radius: 3px;
 }

 .header__search-bar-input{
    flex: 1;
    height: 100%;
    border: 0;
    padding: 0 14px;
    font-size: 1.4rem;
    border-radius: 3px;
    color: var(--text-color);
    outline: none;
 }

 .header__search-bar-btn{
    width: 60px;
    height: 34px;
    margin-right: 3px;
    padding: 0;
    border: 0;
    border-radius: 3px;
    outline: none;
    background-color: #fa5613;
 }

 .header__search-bar-btn:hover{
    cursor: pointer;
    background-color: #ec593c;
 }

 .header__search-bar-icon{
    font-size: 1.4rem;
    color: var(--white-color);
 }

 .header__cart{
    width: 150px;
    text-align: center;
    -webkit-tap-highlight-color: transparent;
 }

 .header__cart-wrap{
    position: relative;
    display: inline-block;
    cursor: pointer;
 }

 .header__cart-wrap:hover .header__cart-list{
    display: block;
 }


 .header__cart-icon{
    font-size: 2.2rem;
    color: var(--white-color); 
    margin-top: 8px;
    padding: 8px;
 }

 .header__cart-count{
    top: 4px;
    right: -10px;
    position: absolute;
    padding: 1px 7px;
    line-height: 1.4rem;
    background-color: var(--white-color);
    color: var(--primary-color);
    font-size: 1.4rem;
    font-weight: 500;
    border-radius: 10px;
    border: 2px solid #EE4D2D
 }

 .header__cart-list{
    position: absolute;
    width: 400px;
    background-color: var(--white-color);
    right: -7px;
    top: calc(100% + 2px);
    border-radius: 3px;
    box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.2);
    animation: fadeIn ease-in .1s;
    cursor: default;
    display: none;
    z-index: 2;
 }

 .header__cart-list::before{
    content: "";
    right: -1px;
    top: -28px;
    position: absolute;
    cursor: pointer;
    border-width: 19px 26px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
}

 .header__cart-list-no-cart{
    padding: 24px 0;
 }

 .header__cart-list-no-cart .header__cart-no-cart,
 .header__cart-list-no-cart .header__cart-text-no-cart{
    display: block;
    margin-left: auto;
    margin-right: auto;
 }

 .header__cart-no-cart{
   width: 50%;
   display: none;
 }

 .header__cart-text-no-cart{
    font-size: 1.4rem;
    color: var(--text-color);
    margin-top: 16px;
    display: none;
 }

/* cart list item */
 .header__cart-heading{
    font-size: 1.4rem;
    font-weight: 400;
    color: #bdbdbd;
    text-align: left;
    margin: 14px 12px;
 }

.header__cart-list-item{
    list-style: none;
    padding-left: 0;
    max-height: 24vh;
    overflow-y: auto;
 }

.header__cart-item{
    display: flex;
    padding: 10px 12px;
    align-items: center;
}

.header__cart-item:hover{
    background-color: #f8f8f8;
}

.header__cart-item-img{
    width: 42px;
    height: 42px;
    border: 1px solid #f3f3f3;
}

.header__cart-item-info{
    width: 100%;
}

.header__cart-item-head{
    display: flex;
    justify-content: space-between;
    padding: 4px 0;
}

.header__cart-item-name{
    font-size: 1.4rem;
    font-weight: 500;
    color: var(--text-color);
    margin:0 0 0 8px;
}

.header__cart-item-price{
    color: var(--primary-color);
    font-size: 1.4rem;
}

.header__cart-item-multiply{
    color: #999;
}

.header__cart-item-quantity{
    color: #999;
    font-size: 1.3rem;
}

.header__cart-bottom{
    display: flex;
    justify-content: space-between;
}

.header__cart-remove{
    font-size: 1.4rem;
}

.header__cart-remove:hover{
    color: var(--primary-color);
    cursor: pointer;
}

.header__cart-view-cart{
    float: right;
    margin: 0 10px 10px 0;
}

.header__cart-view-cart:hover{
    background-color: #f05d40;
}

 .header__search-bar-select{
    border-left: 1px solid #999;
    padding-left: 16px;
    position: relative;
    cursor: pointer;
 }

 .header__search-bar-select:hover .header__search-bar-option{
    display: block;
 }

 .header__search-bar-select::before{
    position: absolute;
    content: "";
    top: 88%;
    left: 0;
    height: 30px;
    width: 100%;
}

.header__search-bar-select-label{
    font-size: 1.4rem;
    color: var(--text-color); 
}

.header__search-bar-select-icon{
    font-size: 1.4rem;
    color: var(--text-color); 
    margin: 0 16px;
    position: relative;
    top: 1px;
}

.header__search-bar-option{
    position: absolute;
    width: 130px;
    right: 0;
    top: 130%;
    list-style: none;
    box-shadow: 0 0 3px #999;
    padding-left: 0;
    border-radius: 3px;
    overflow: hidden;
    animation: fadeIn ease-in 0.1s;
    display: none;
}

.header__search-bar-option-item{
    background-color: var(--white-color);
    padding: 8px 0 8px 14px;
}

.header__search-bar-option-item:hover{
    background-color: #fafafa;
    cursor: pointer;
}

.header__search-bar-option-item span{
    font-size: 1.4rem;
    color: var(--text-color);
}

.header__search-bar-option-item i{
    font-size: 1.2rem;
    color: var(--primary-color);
    margin-left: 12px;
    display: none;
}

.header__search-bar-option-item--active i{
    display: inline-block;
}

/* header__sort-bar */
.header__sort-bar{
    position: fixed;
    top: var(--header-height);
    left: 0;
    right: 0;
    height: var(--header-sort-bar-height);
    background-color: var(--white-color);
    margin: 0;
    padding-left: 0;
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
    display: none;
}

.header__sort-item{
    list-style: none;
    flex: 1;
    height: 100%;
    line-height: var(--header-sort-bar-height);;
}

.header__sort-item:first-child .header__sort-link::before{
    display: none;
}

.header__sort-link{
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.4rem;
    display: block;
    text-align: center;
    position: relative;
}

.header__sort-link::before{
    content:"";
    position: absolute;
    top: 50%;
    left: 0;
    height: 60%;
    border-left: 1px solid #e5e5e5;
    transform: translateY(-50%);
}

.header__sort-item--active .header__sort-link{
    color: var(--primary-color);
}

/* main-container */
.main-container{
    background-color: #f5f5f5;
}

.main-container-content{
    padding-top: 30px;
}

.category{
    background-color: var(--white-color);
    border-radius: 2px;
}

.category__heading{
    font-size: 1.6rem;
    padding: 12px 16px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    margin-bottom: 10px;
    margin-top: 0;
}

.category-list{
    list-style: none;
    padding: 0 0 6px 0;
    margin-left: 12px;
}

.category-item__link{
    position: relative;
    text-decoration: none;
    color: #35393b;
    font-size: 1.4rem;
    font-weight: 500;
    padding: 8px 16px;
    display: block;
    transition: right linear 0.1s;
    right: 0;
}

.category-item__link:hover{
    right: -4px;
    color: var(--primary-color);
}

.category-item__link:focus{
    color: var(--primary-color);
}

.category-item--click .category-item__link::before{
    content: "";
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    position: absolute;
    border: 4px solid;
    border-color: transparent transparent transparent #d0011b;
}

/* product-filter */
.product-filter{
    display: flex;
    align-items: center;
    background-color: #ededed;
    height: 54px;
    padding: 12px 20px;
    border-radius: 2px;
}

.product-filter__label{
    font-size: 1.3rem;
    color: var(--text-color);
}

.product-filter__option{
    display: flex;
    flex: 1;
    margin-left: 14px;
}

.product-filter__btn{
    min-width: 90px;
    margin-right: 12px;
}

.product-filter__select{
    position: relative;
    min-width: 200px;
    height: 34px;
    padding: 0 12px;
    border-radius: 2px;
    background-color: var(--white-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    z-index: 1;
}

.product-filter__select-label{
    font-size: 1.4rem;
    color: var(--text-color);
}

.product-filter__select-price{
    width: 200px;
    height: 82px;
    position: absolute;
    background-color: var(--white-color);
    top: calc(100% + 1px);
    right: 0;
    border-radius: 2px;
    box-shadow: 0 0 1.5px -2 #888888;
    animation: fadeIn ease-in 0.1s;
    display: none;
}

.product-filter__select-price-low{
    display: block;
    font-size: 1.4rem;
    color: var(--text-color);
    padding: 16px 0 10px 14px;
}

.product-filter__select-price-high{
    display: block;
    font-size: 1.4rem;
    color: var(--text-color);
    padding: 8px 0 10px 14px;
}

.product-filter__select-price-low:hover ,.product-filter__select-price-high:hover{
    color: var(--primary-color);
}

.product-filter__select:hover .product-filter__select-price{
    display: block;
}

.product-filter__pages{
    display: flex;
    align-items: center;
}

.product-filter__pages-num{
    font-size: 1.4rem;
    margin-right: 22px;
}

.product-filter__pages-current{
    color: var(--primary-color);
}

.product-filter__pages-controls{
    display: flex;
    width: 72px;
    height: 34px;
    border-radius: 2px;
    overflow: hidden;
}

.product-filter__pages-btn{
    flex: 1;
    border: none;
    background-color: var(--white-color);
    cursor: pointer;
    outline: none;
}

.product-filter__pages-btn:hover{
    background-color: #fdfdfd;
}

.product-filter__pages-btn--left{
    border-right: 1px solid #f1f1f1;
}

.product-filter__pages-btn--disabled{
    cursor: default;
    background-color: #fdfdfd;
} 

.monaco-svg-icon{
    width: 10px;
    height: 10px;
    fill: #555;
}

.product-filter__pages-btn--disabled .monaco-svg-icon{
    fill: #cfcfcf;
} 

/* Mobile category */
.mobile-category{
    display: none;
}

.mobile-category-list{
    list-style-type: none;
    display: flex;
    padding-left: 0;
    max-width: 100%;
    overflow-x: auto;
    margin: 0;
}

.mobile-category-list::-webkit-scrollbar{
    display: none;
}
.mobile-category-item{
    flex-shrink: 0;
    margin-right:10px;
}

.mobile-category-item:nth-of-type(3n+1) .mobile-category-link{
    background-color: #87AFD8;
}

.mobile-category-item:nth-of-type(3n+2) .mobile-category-link{
    background-color: #76C9BD;
}

.mobile-category-item:nth-of-type(3n+3) .mobile-category-link{
    background-color: #88CF81;
}

.mobile-category-link{
    --line-height: 2rem;
    text-decoration: none;
    font-size: 1.4rem;
    font-weight: 200;
    text-align: center;
    width: 80px;
    height: calc(var(--line-height) * 2);
    line-height: var(--line-height);
    overflow: hidden;
    color: var(--white-color);
    display: block;
    /* hien ... */
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    /*  */
    border-radius: 4px;
    user-select: none;
    -webkit-user-select: none;
    -webkit-tap-highlight-color: transparent;
}



/* product item */
.product-list-item{
    margin-top: 10px;
    background-color: var(--white-color);
    border-radius: 1.5px;
    cursor: pointer;
    position: relative;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
    transition: transform ease-in 0.15s;
    top: 0;
}

.product-list-item:hover{
    box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.05);
    transform: translateY(-1px);
}

.product-list-item__img{
    padding-top: 100%;
    background-size: contain;
    /* background-position: center; */
    background-repeat: no-repeat;
}

.product-list-item__name{
    font-size: 1.1rem;
    margin: 10px;
    color: var(--text-color);
    font-weight: 400;
    line-height: 1.8rem;
    height: 3.6rem;
    overflow: hidden;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}
.product-list-item__price{
    margin: 8px 10px;
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
}
.product-list-item__price-old{
    color: #8d8585;
    font-size: 1.4rem;
    text-decoration: line-through;
    padding-right: 4px;
    
}
.product-list-item__price-current{
    color: var(--primary-color);
    font-size: 1.6rem;
}
.product-list-item__action{
    margin: 8px 10px;
    display: flex;
    justify-content: space-between;
}   
.product-list-item__action-like{
    font-size: 1.3rem;
}
.product-list-item__action-rating{
    margin-left: auto;
}

.product-list-item__action-star{
    color: #ffce3d;
}

.product-list-item__action-sold{
    padding-left: 5px;
    font-size: 1.2rem;
    color: black;
}
.product-list-item__origin{
    color: #afaeae;
    margin: 8px 10px;
    display: flex;
    font-size: 1.2rem;
    justify-content: space-between;
}
.product-list-item__origin-brand{

}
.product-list-item__origin-location{

}
.product-list-item__favourite{
    position: absolute;
    top: 8px;
    left: -4px;
    padding: 0 4px;
    font-size: 1rem;
    line-height: 1.8rem;
    color: var(--primary-color);
    background-color: currentColor;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.product-list-item__favourite::after{
    content: "";
    position: absolute;
    border-top: 3px solid currentColor;
    border-left: 3px solid transparent;
    top: 100%;
    left: 0;
    filter: brightness(50%);
}

.product-list-item__favourite-label{
    color: var(--white-color);
}

.product-list-item__favourite i{
    font-size: 0.8rem;
    color: var(--white-color);
}

.product-list-item__sale-off{
    position: absolute;
    width: 40px;
    height: 40px;
    background-color: rgba(255,216,64, 0.9);
    top: 0;
    right: 0;
}

.product-list-item__sale-off::after{
    content: "";
    position: absolute;
    border-width: 0 20px 5px;
    left: 0;
    top: 100%;
    border-style: solid;
    border-color: transparent rgba(255,216,64, 0.9) transparent rgba(255,216,64, 0.9);
}

.product-list-item__sale-off-percent{
    display: block;
    text-align: center;
    font-size: 1.4rem;
    color: var(--primary-color);
    font-weight: 600;
    padding: 4px 0 1px 0;
}
.product-list-item__sale-off-label{
    color: var(--white-color);
    display: block;
    text-align: center;
    font-size: 1.3rem;
    font-weight: 600;
}


/* pagination */
.pagination{
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
}

.pagination-item{
    margin: 0 8px;
}

.pagination-item__link{
    min-width: 40px;
    height: 30px;
    text-decoration: none;
    font-size: 1.6rem;
    color: #939393;
    display: block;
    text-align: center;
    line-height: 30px;
    border-radius: 2px;
}

.pagination-item--active .pagination-item__link{
    color: var(--white-color);
    background-color: var(--primary-color);
}

.product-list__pagination{
    margin: 40px;
}